@font-face {
  font-family: 'zapfino';
  src:  url('http://web-site-files.ashshen.cc/fonts/zapfino.ttf') format('truetype'),
  url('http://web-site-files.ashshen.cc/fonts/zapfino.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}