.date-picker-body {
  display: inline-block;
  position: relative;

  /* 输入框 */
  .input-section {
    display: inline-block;
    height: 36px;
    border: 1px solid #505466;
    position: relative;

    .start-time, .end-time {
      height: calc(100% - 2px);
      border: none;
      width: calc(50% - 22px);
      background: none;
      outline: none;
      text-align: center;
    }

    .clip-span {
      width: 40px;
      height: 100%;
      text-align: center;
      display: inline-block;
      line-height: 36px;
      vertical-align: top;
    }

  }

  .input-section:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }


  /* 日历选择部分 */
  .date-section {
    user-select: none;
    display: none;
    position: absolute;
    top: 50px;
    width: 554px;
    left: 0;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #2b313d;
    color: #b4c0cb;

    &.date-section-show {
      display: inherit;
    }

    .date-start-section {
      margin-right: 20px;
    }

    /* 两个月份展示 */
    .date-start-section, .date-end-section {
      width: 265px;
      border-radius: 4px;
      display: inline-block;
      font-size: 14px;

      /* 年、月选择部分 */
      .header-section {
        position: relative;
        height: 30px;
        margin: 30px 10px 0;
        border-radius: 4px;
        background-color: #373d49;

        .prev-year, .prev-month, .next-year, .next-month {
          position: absolute;
          height: 30px;
          width: 20px;
          line-height: 30px;
          text-align: center;
          cursor: pointer;
        }

        .prev-month {
          left: 20px;
        }

        .next-month {
          right: 20px;
        }

        .next-year {
          right: 0;
        }

        .year-selector, .month-selector {
          width: calc(50% - 10px);
          height: 30px;
          line-height: 30px;
          display: inline-block;
          text-align: center;

          .current {
            cursor: pointer;
          }

        }

        .year-selector {
          text-align: right;
          padding-right: 10px;
        }

        .month-selector {
          text-align: left;
          padding-left: 10px;
        }

      }

      /* 日期选择部分 */
      .calender-section {
        padding: 10px;
        margin-top: 10px;
      }

      .date-item, .date-weekday {
        display: inline-block;
        width: 31px;
        height: 26px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        border-radius: 6px;
        font-size: 12px;
        padding: 3px 2px;
        background-clip: content-box;
        transition: background-color .2s ease;
      }

      .date-item:not(.not-current-month):hover,
      .date-item.start-or-end-selected {
        background-color: #b4c0cb;
        color: #000000;
      }

      .date-item.selected {
        background-color: #4c576a;
        color: #b4c0cb;
      }

      .date-item.not-current-month {
        visibility: hidden;
      }

      .date-item.disable, .date-item.disable:hover {
        cursor: not-allowed;
        background-color: inherit;
        color: #b4c0cb;
      }

    }

  }

}